<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<br>
<br>
<br>
<center>

<form action="/list" method="get" style="align:center">
    <h1>&nbsp;&nbsp;Welcome to use the movie recommendation system!</h1>
    <br>
    &nbsp;&nbsp;<label for="userId"><strong>Please input your ID:&nbsp;&nbsp;</strong></label>&nbsp;<input id="userId" name="userId" type="text"/> &nbsp;&nbsp;<input type="submit" value="submit">
    <!--&nbsp;&nbsp;<a>Please input your ID:</a>&nbsp;<input type="text" name="id"/> &nbsp;&nbsp;<input type="submit"-->
                                                                                                    <!--value="Init">-->
</form>
</center>
<!--<a href="/list">list</a>-->
</body>
</html>